body {
  background-color: #ffffff;
  scroll-behavior: smooth;
  background-color: #f9f9f9;
  font-size: calc(2em + 2vw);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container-padre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* height: 30vh; */
  /* grid-auto-rows: minmax(100px, auto); */
}

.container-padre div {
  /* border: solid 2px red; */
}
.paleta {
  background-color: #1d9bf0;
  background-color: #eff3f4;
  background-color: #ffffff;
}
.secton-img-twitter {
  display: block;

  position: relative;
}
/* imagen de twitter */
.container-img-twitter {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  border: solid rgb(65, 204, 88) 2px;
}
.div-img {
  width: 100%;
  display: flex;
  /* border: solid rgb(212, 123, 123) 2px; */
}
.div-img img {
  width: 18%;
  height: 100%;
}
/* boton de numeral comienza */
.botoNumeral {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  /* border: solid rgb(212, 123, 123) 2px; */
}
.boton-padre-numeral {
  width: 60%;
}
.botoNumeral:hover {
  background-color: #f0eeed;
}
.boton-padre-numeral i {
  font-weight: bold;
  color: black;
  font-size: 30px;
}

.boton-padre-numeral span {
  font-weight: bold;
  color: black;
  font-size: 20px;
  display: flex;
  margin-left: 20px;
  align-items: center;
}
/* TERMINA */
/* boton de confijuracion */
.botonConfig {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}
.boton-padre-config {
  width: 80%;
  margin-top: 2rem;
}
.botonConfig:hover {
  background-color: #f0eeed;
}
.boton-padre-config span {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.boton-padre-config i {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
/* termina */
/* SECTION BUSCADOR */
.container-buscador {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.div-inpu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  border: solid 2px red;
}
.div-inpu-icon i {
  font-size: 1.4rem;
}
.div-inpu-icon input:focus {
  border: none;
  box-shadow: none;
  width: 300px;
}
.div-inpu-icon input {
  border: none;
  box-shadow: none;
  width: 300px;
}

.div-inpu-icon input::placeholder {
  font-size: 1.4rem;
}

.icon-vertical i {
  font-size: 1.4rem;
  border: solid 2px red;
}

/*  texto y bootone */
.container-text {
  font-weight: bold;
  color: black;
  font-size: 15px;
}
.texto-p p {
  font-size: 15px;
}
.text-pregunt {
  font-size: 23px;
}
.container-apple {
  width: 94%;
}
.container-apple button {
  background-color: transparent;
  border: none;
}
.container-apple img {
  width: 6%;
  padding: 5px;
}
.container-google {
  width: 100%;
}
.container-google button {
  background-color: transparent;
  border: none;
}
.container-google img {
  width: 7%;
  padding: 5px;
}
.container-crear {
  width: 94%;
  /* border: solid 3px red; */
}
.container-crear button {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.border-container {
  padding-top: 10px;
  padding: 10px;
}
/* cuerpo */
.body-text {
  width: 80%;
  font-size: 15px;
  padding: 12px;
}
.body-text span {
  color: #1d9bf0;
}
/* CUERPO DE TWITTER */
.cuerpo-lista {
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cuerpo-lista ul {
  display: flex;
  justify-content: center;
}
.cuerpo-lista li {
  display: flex;
  margin: 10px;
  font-weight: bold;
  color: rgb(128, 124, 124);
  font-size: 15px;
}
.cuerpo-lista li.active {
  border-bottom: 4px solid #1d9bf0;
  padding-bottom: 10px;
  color: black;
}
.cuerpo-lista li:hover {
  border-bottom: 4px solid #1d9bf0;
  padding-bottom: 10px;
}

.cuerpo-lista li:hover {
  color: black;
}
/* textocentro */
.texto1 {
  color: rgb(5, 4, 4);
  font-size: 13px;
  line-height: 15px;
  display: grid;
}
.div-container-tendencia {
  padding-left: 36px;
  height: 80px;
}
.ico i {
  position: relative;
  left: 500px;
  top: -80px;
  font-size: 23px;
  color: rgb(128, 124, 124);
}
.texto1 span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.texto2 {
  color: rgb(5, 4, 4);
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
}

.texto2 span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.texto3 {
  color: rgb(5, 4, 4);
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
}

.texto3 span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.texto4 {
  color: rgb(5, 4, 4);
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
}

.texto4 span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.twitter {
  font-size: 10px;
}
.texto5 {
  color: rgb(5, 4, 4);
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
}

.texto5 span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.texto6 {
  color: rgb(5, 4, 4);
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
}

.texto6 span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.texto7 {
  color: rgb(5, 4, 4);
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
}

.texto7 span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.twitter {
  font-size: 10px;
  color: rgb(128, 124, 124);
  margin-top: -10px;
}
/* SECTION DEL FOOTER */
.footer {
  position: relative;
  z-index: -1;
  color: #ffffff;
  background-color: #1d9bf0;
}
.div-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 15px;
  font-weight: bold;
}
.inicio {
  background-color: transparent;
  color: #ffffff;
  padding: 6px;
}
.registro {
  padding: 6px;
}
.div-botones button {
  margin: 8px;
  font-weight: bold;
}

.div-text-foot {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  /* line-height: 42px; */
}

.div-text-foot h3,
p {
  text-align: center;
  font-weight: bold;
  line-height: 22px;
}
