body {
  background-color: #ffffff;
  scroll-behavior: smooth;
  background-color: #f9f9f9;
  font-size: calc(2em + 2vw);
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}
.container-padre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

/* SECTIOON IZQUIERDA */
/* imagen de twitter */
.container-img-twitter {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
}
.div-img {
  width: 100%;
  display: flex;
  /* border: solid rgb(212, 123, 123) 2px; */
}
.div-img img {
  width: 18%;
  height: 100%;
}
/* boton de numeral comienza */
.botoNumeral {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  /* border: solid rgb(212, 123, 123) 2px; */
}
.boton-padre-numeral {
  width: 60%;
}
.botoNumeral:hover {
  background-color: #f0eeed;
}
.boton-padre-numeral i {
  font-weight: bold;
  color: black;
  font-size: 30px;
}

.boton-padre-numeral span {
  font-weight: bold;
  color: black;
  font-size: 20px;
  display: flex;
  margin-left: 20px;
  align-items: center;
}
/* TERMINA */
/* boton de confijuracion */
.botonConfig {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}
.boton-padre-config {
  width: 80%;
  margin-top: 2rem;
}
.botonConfig:hover {
  background-color: #f0eeed;
}
.boton-padre-config span {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.boton-padre-config i {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
/* termina */
/* SECTION BUSCADOR */
.container-buscador {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.div-inpu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  padding: 0.6rem;
  border: solid 2px #ccc;
}
.div-inpu-icon i {
  font-size: 1.4rem;
}
.div-inpu-icon input:focus {
  border: none;
  box-shadow: none;
  width: 300px;
}
.div-inpu-icon input {
  border: none;
  box-shadow: none;
  width: 300px;
}

.div-inpu-icon input::placeholder {
  font-size: 1.4rem;
}

.icon-vertical i {
  font-size: 1.4rem;
  cursor: pointer;
}

/* SECTION DE BOTONES */
.container-text {
  font-weight: bold;
  color: rgb(19, 18, 18);
  font-size: 2rem;

  margin-top: 2rem;
  text-align: center;
}
.div-parrafo p {
  font-size: 1.2rem;
  color: rgb(128, 124, 124);
}

.container-apple {
  width: 100%;
  margin-top: 10px;
}
.container-apple div {
  font-weight: bold;
  color: rgb(19, 18, 18);
  padding: 5px;
  font-size: 1.4rem;
}
.container-apple img {
  width: 8%;
  padding: 5px;
}
.container-google {
  width: 100%;
  margin-top: 10px;
}
.container-google button {
  background-color: transparent;
  border: none;
  padding: 5px;
  font-size: 1.3rem;
  color: #000;
}
.container-google img {
  width: 9%;
  padding: 5px;
}
.container-crear {
  width: 100%;
  margin-top: 10px;
}
.container-crear a {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(51, 47, 47);
}

.container-text-botones {
  padding-top: 20px;
  color: rgb(128, 124, 124);
}
/* cuerpo */

.container-text-botones span {
  color: #1d9bf0;
}
/* HEADER DE TWITTER */
.container-texto {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  list-style: none;
  left: 0;
  margin-top: 20px;
}
.container-texto ul {
  position: relative;
  display: flex;
  width: 590px;
}
.container-texto ul li {
  /* padding: 2px; */
  margin-left: 10px;
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  color: rgb(128, 124, 124);
  padding: 11px;
}
.container-texto li.active {
  background-color: #f0eeed;
  cursor: pointer;
  color: #000;
  border-bottom: 3px solid #1d9bf0;
}
.container-texto li:hover {
  background-color: #f0eeed;
  cursor: pointer;
}

/*  TEXTO DE BODY  */
.texto {
  color: rgb(128, 124, 124);
  font-size: 13px;
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
}
.div-container-tendencia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.ico i {
  position: relative;
  font-size: 23px;
  color: rgb(128, 124, 124);
}
.texto span {
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.twitter {
  font-size: 10px;
  margin-top: -1rem;
}
/* SECTION DEL FOOTER */
.footer {
  position: relative;
  z-index: -1;
  color: #ffffff;
  padding: 1rem;
  background-color: #1d9bf0;
}

.div-botones {
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 15px;
  font-weight: bold;
}
.inicio {
  background-color: transparent;
  color: #ffffff;
  padding: 6px;
  width: 100%;
  margin-left: 20px;
  cursor: pointer;
}

.registro {
  padding: 6px;
  width: 100%;
  margin-left: 34px;
}

.div-text-foot {
  text-align: center;
  padding: 20px;
  line-height: 20px;
}

.div-text-foot h3 {
  text-align: center;
  font-weight: bold;
  font-size: 2.3rem;
}
.div-text-foot p {
  text-align: center;
  font-size: 1.5rem;
}
